img {
    height: 100vh;
    width: auto;
    filter: brightness(65%);
}

.image-container {
    position: relative;
    width: max-content;
}

.image-text{
    position: absolute;
    top: 245px;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    color: rgb(190, 190, 190);
    font-size: 3rem;
    font-family: "Chakra Petch";
    font-weight: 700;
    height: 70px;
    letter-spacing: 3px;
}

body {
    display: flex;
    width: 99vw;
    background-color: rgb(26, 26, 26);
}

.container {
    margin-top: -20px;
    flex-grow: 1;
    color: rgb(189, 189, 189);
}

.form-intro {
    background-color: rgb(46, 46, 46);
    height: 33.33vh;
    color: rgb(190, 190, 190);;
}

.form-intro p {
    padding-top: 95px;
    margin-left: 70px;
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 550;
    width: 46vw;
    font-family: "Chakra Petch";
}

/* Form Styling */

.form-container {
    height: 66.66vh;
}

.form-container > div {
    font-size: 1.6rem;
    font-weight: 600;
    font-family: "Tomorrow";
    padding: 20px 70px;
    color: hotpink;
}

.form-row {
    font-size: 0.8rem;
    font-family: "Tomorrow";
    font-weight: 500;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

span {
    color: hotpink;
}

/* Focused input fields */

form input {
    width: 350px;
    height: 3ch;
    font-size: 1.2rem;
    border-radius: 6px;
    border: 1px solid hotpink;
    outline: none;
    margin-top: 5px;
    background-color: rgb(190, 190, 190);;
}

.pwd {
    margin-bottom: 20px;
}

form input:focus {
    border: 2px solid rgb(69, 144, 197);
    box-shadow: 1px 1px 2px black;
}


input:invalid:not(:focus):not(:placeholder-shown) {
    border: 1.5px solid rgb(255, 0, 0);
}

/* Valid input fields after user interaction */
input:valid:not(:focus):not(:placeholder-shown) {
    border: 1.5px solid #4CAF50; /* Green border for valid inputs */
}

.pwd, .names, .contact {
    display: flex;
    gap: 70px;
}

form {
    margin-left: 70px;
}

.submit {
    height: 26.3vh;
    background-color: rgb(46, 46, 46);
    margin-left: -70px;
    padding: 20px 70px;
    font-size: 1rem;
    font-family: "Tomorrow";
    color: white;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1.4rem;
    border-radius: 7px;
    margin-bottom: 15px;
    background-color: rgb(46, 46, 46);
    color: white;
    border: 3px solid hotpink;
    font-family: "Chakra Petch";
    font-weight: 500;
    cursor: pointer;
}

button:hover, button:focus {
    background-color: rgb(255, 124, 189);
    border: 3px solid rgb(255, 124, 189);
    box-shadow: 1px 1px 2px white;
    color: black;
}

button:active {
    background-color: rgb(245, 55, 150);
}

a {
    color: hotpink;
    font-weight: 500;
}